<!--suppress HtmlFormInputWithoutLabel -->
<div class="center-500 center-text">
  <h2>{{'forgotPassword.header' | translate}}</h2>
  <h3>{{'forgotPassword.info1' | translate}}</h3>
  <h3>{{'forgotPassword.info2' | translate}}</h3>
  <form [formGroup]="emailForm" (ngSubmit)="onSubmit()" class="vertical">

    <mat-form-field>
      <input matInput required formControlName="email" type="text"
             autocomplete="username"/>
      <mat-label>{{'models.user.email' | translate}}</mat-label>
      <mat-error *ngFor="let error of getErrorKeys('email')">
        {{'validation.email.' + error | translate}}
      </mat-error>
    </mat-form-field>

    <span>
      <button mat-flat-button color="primary" [disabled]="!emailForm.valid" type="submit">
        {{'common.send' | translate}}
      </button>
      <button mat-flat-button color="accent" type="button" routerLink="/login">
        {{'common.cancel' | translate}}
      </button>
    </span>
  </form>
</div>