<!--suppress HtmlFormInputWithoutLabel -->
<h2>{{'headers.register' | translate}}</h2>

<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" novalidate *ngIf="errorMessageResources">
  <mz-input-container class="col s12 m6">
    <input mz-input mz-validation required
           id="username" formControlName="username" type="text"
           [errorMessageResource]="errorMessageResources.username"
           [label]="labels.username"/>
  </mz-input-container>
  <mz-input-container class="col s12 m6">
    <input mz-input mz-validation required
           id="password" formControlName="password" type="password"
           [errorMessageResource]="errorMessageResources.password"
           [label]="labels.password"/>
  </mz-input-container>
  <mz-input-container class="col s12 m6">
    <input mz-input mz-validation required
           id="email" formControlName="email" type="text"
           [errorMessageResource]="errorMessageResources.email"
           [label]="labels.email"/>
  </mz-input-container>
  <mz-input-container class="col s12 m6">
    <input mz-input mz-validation
           id="firstName" formControlName="firstName" type="text"
           [errorMessageResource]="errorMessageResources.firstName"
           [label]="labels.firstName"/>
  </mz-input-container>
  <mz-input-container class="col s12 m6">
    <input mz-input mz-validation
           id="lastName" formControlName="lastName" type="text"
           [errorMessageResource]="errorMessageResources.lastName"
           [label]="labels.lastName"/>
  </mz-input-container>

  <button mz-button [disabled]="!registerForm.valid" type="submit">Register</button>
  <button mz-button [routerLink]="['/login']" type="button">Cancel</button>
</form>
