<div class="center-text">
  <h2>{{'myStats.header' | translate}}</h2>
</div>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="statsDataSource" class="fixed-width-table">
    <ng-container matColumnDef="plannings">
      <th mat-header-cell
          *matHeaderCellDef> {{'models.userStats.plannings' | translate}}</th>
      <td mat-cell *matCellDef="let stats"> {{stats.plannings}} </td>
    </ng-container>
    <ng-container matColumnDef="issues">
      <th mat-header-cell *matHeaderCellDef> {{'models.userStats.issues' | translate}}</th>
      <td mat-cell *matCellDef="let stats"> {{stats.issues}} </td>
    </ng-container>
    <ng-container matColumnDef="votes">
      <th mat-header-cell *matHeaderCellDef> {{'models.userStats.votes' | translate}}</th>
      <td mat-cell *matCellDef="let stats"> {{stats.votes}} </td>
    </ng-container>
    <ng-container matColumnDef="firstVotesBelowEstimate">
      <th mat-header-cell
          *matHeaderCellDef> {{'models.userStats.firstVotesBelowEstimate' | translate}}</th>
      <td mat-cell *matCellDef="let stats"> {{stats.firstVotesBelowEstimate}} </td>
    </ng-container>
    <ng-container matColumnDef="firstVotesAboveEstimate">
      <th mat-header-cell
          *matHeaderCellDef> {{'models.userStats.firstVotesAboveEstimate' | translate}}</th>
      <td mat-cell *matCellDef="let stats"> {{stats.firstVotesAboveEstimate}} </td>
    </ng-container>
    <ng-container matColumnDef="firstVotesEqualEstimate">
      <th mat-header-cell
          *matHeaderCellDef> {{'models.userStats.firstVotesEqualEstimate' | translate}}</th>
      <td mat-cell *matCellDef="let stats"> {{stats.firstVotesEqualEstimate}} </td>
    </ng-container>
    <ng-container matColumnDef="averageFirstVoteLevelDifference">
      <th mat-header-cell
          *matHeaderCellDef> {{'models.userStats.averageFirstVoteLevelDifference' | translate}}</th>
      <td mat-cell *matCellDef="let stats"> {{stats.averageFirstVoteLevelDifference}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="statsDisplayedColumns"></tr>
    <tr mat-row *matRowDef="let stats; columns: statsDisplayedColumns;"
        class="expandable-element-row">
    </tr>
  </table>
</div>