<!--suppress HtmlFormInputWithoutLabel -->
<div class="center-500 center-text">
  <h2>{{'login.header' | translate}}</h2>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="vertical">

    <mat-form-field>
      <input matInput required formControlName="username" type="text"
             autocomplete="username"/>
      <mat-label>{{'models.user.username' | translate}}</mat-label>
      <mat-error *ngFor="let error of getErrorKeys('username')">
        {{'validation.username.' + error | translate}}
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput required formControlName="password" type="password"
             autocomplete="current-password"/>
      <mat-label>{{'models.user.password' | translate}}</mat-label>
      <mat-error *ngFor="let error of getErrorKeys('password')">
        {{'validation.password.' + error | translate}}
      </mat-error>
    </mat-form-field>

    <span>
      <button mat-flat-button color="primary" [disabled]="!loginForm.valid" type="submit">
        {{'common.login' | translate}}
      </button>
      <button mat-flat-button color="accent" *ngIf="registrationEnabled" type="button"
              routerLink="/register">
        {{'common.register' | translate}}
      </button>
    </span>
  </form>
</div>