<!--suppress HtmlFormInputWithoutLabel -->
<div class="center-500 center-text">
  <h2>{{'resetPassword.headers' | translate}}</h2>

  <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()" class="vertical">

    <mat-form-field>
      <input matInput formControlName="username" type="text"/>
      <mat-label>{{'models.user.username' | translate}}</mat-label>
      <mat-error *ngFor="let error of getErrorKeys('username')">
        {{'validation.username.' + error | translate}}
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput required appPasswordValidator formControlName="newPassword" type="password"/>
      <mat-label>{{'models.password.newPassword' | translate}}</mat-label>
      <mat-error *ngFor="let error of getErrorKeys('newPassword')">
        {{'validation.newPassword.' + error | translate}}
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput required formControlName="newPasswordRepeated" type="password"/>
      <mat-label>{{'models.password.newPasswordRepeated' | translate}}</mat-label>
      <mat-error *ngFor="let error of getErrorKeys('newPasswordRepeated')">
        {{'validation.newPasswordRepeated.' + error | translate}}
      </mat-error>
    </mat-form-field>

    <span>
      <button mat-flat-button color="primary" [disabled]="!passwordForm.valid" type="submit">
        {{'common.save' | translate}}
      </button>
      <button mat-flat-button color="accent" (click)="onClickCancel()" type="button">
        {{'common.cancel' | translate}}
      </button>
    </span>
  </form>
</div>