<!--suppress HtmlFormInputWithoutLabel -->
<h2>Login</h2>

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
  <mz-input-container class="col s12 m6">
    <input mz-input mz-validation required
           id="username" formControlName="username" type="text"
           [errorMessageResource]="errorMessageResources.username"
           [label]="labels.username"/>
  </mz-input-container>
  <mz-input-container class="col s12 m6">
    <input mz-input mz-validation required
           id="password" formControlName="password" type="password"
           [errorMessageResource]="errorMessageResources.password"
           [label]="labels.password"/>
  </mz-input-container>

  <button mz-button [disabled]="!loginForm.valid" type="submit">Login</button>
  <button mz-button [routerLink]="['/register']" type="button">Register</button>
</form>