th.mat-header-cell, td.mat-cell {
  text-align: center !important;
}

.expandable-element-row td {
  border-bottom-width: 0;
}

tr.expandable-element-details {
  height: 0;
}

.expandable-element-inside {
  overflow: hidden;
  display: flex;
}

.fixed-width-table {
  table-layout: fixed;
}