<ul class="center-text">
  <li>
    <button mat-flat-button class="primary-darker" (click)="refreshPage()">
      {{'common.refresh' | translate}}
    </button>
  </li>
  <li>
    <h2>{{'systemFeatureList.header' | translate}}</h2>
  </li>
  <li>
  </li>
</ul>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="systemFeaturesDataSource">

    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef> {{'models.systemFeature.code' | translate}}</th>
      <td mat-cell *matCellDef="let element"> {{element.code}} </td>
    </ng-container>
    <ng-container matColumnDef="enabled">
      <th mat-header-cell *matHeaderCellDef> {{'models.systemFeature.enabled' | translate}}</th>
      <td mat-cell *matCellDef="let element">
        <mat-checkbox [(ngModel)]="element.enabled" [disabled]=true></mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef style="width: 300px;">
        {{'common.actions' | translate}}
      </th>
      <td mat-cell *matCellDef="let element">
        <button *ngIf="auth.hasAuthority('updateSystemFeature')"
                mat-flat-button color="primary" (click)="toggleSystemFeature(element)">
          <ng-container *ngIf="element.enabled">{{'common.disable' | translate}}</ng-container>
          <ng-container *ngIf="!element.enabled">{{'common.enable' | translate}}</ng-container>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="10" showFirstLastButtons>
  </mat-paginator>
</div>