<mat-toolbar color="primary">
  <button mat-button routerLink="/home">
    <span class="navbar-title">Scrumote</span>
    <mat-icon class="navbar-logo">group</mat-icon>
  </button>

  <button mat-button class="navbar-menu-item"
          routerLink="/all-plannings" *ngIf="auth.hasAuthority('getAllPlannings')">
    {{'app.navbar.allPlannings' | translate}}
  </button>
  <button mat-button class="navbar-menu-item"
          routerLink="/my-plannings" *ngIf="auth.hasAuthority('getMyPlannings')">
    {{'app.navbar.myPlannings' | translate}}
  </button>

  <span class="fill-space"></span>

  <span *ngIf="auth.isAuthenticated()">
    <button mat-button [matMenuTriggerFor]="userMenu">
      <span class="navbar-menu-item">{{auth.getUsername()}}</span>
      <mat-icon class="navbar-expand-icon">expand_more</mat-icon>
    </button>
    <mat-menu #userMenu>
      <button mat-menu-item (click)="auth.logout()">
        <span>{{'buttons.logout' | translate}}</span>
      </button>
    </mat-menu>
  </span>
</mat-toolbar>

<div class="router-outlet">
  <router-outlet></router-outlet>
</div>