body {
  margin: 0;
}

.container {
  padding: 16px;
}

.vertical {
  display: flex;
  flex-direction: column;
}

.horizontal {
  display: flex;
  flex-direction: row;
}

.fill-space {
  flex: 1 1 auto;
}

.center-500 {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.center-text {
  text-align: center;
}